# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.md text eol=lf

# Binary files
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

